$border-color: rgb(232, 232, 232);
$border-radius: 10px;

$text-color: rgb(106, 106, 106);

$success-color: rgb(26, 160, 26);
$error-color: rgb(255, 0, 0);
$warning-color: rgb(255, 255, 0);
$info-color: rgb(0, 0, 255);
$success-bg: rgb(26, 160, 26);
$error-bg: rgb(255, 0, 0);
$warning-bg: rgb(255, 255, 0);
$info-bg: rgb(0, 0, 255);